<%= form_for @frame, :url => add_frame_game_path do |f| %>
  <% if @frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frame.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :first_roll%>
  <%= f.text_field :first_roll %>
  <% unless @hide_second_roll %>
    <%= f.label :second_roll %>
    <%= f.text_field :second_roll %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
