<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
  }
</style>
<h3> ScoreBoard</h3>
<hr>
<table>
<tr>
<% @game.frames.take(10).each_with_index do |frame, index|%>
<div>
<td>
Frame <%=index.succ%> |
  <table>
  <tr>
<% if frame.is_strike? %>
  <td><strong><%= 'X' %> </strong></td>
<% else %>
  <td><strong><%= frame.first_roll ? frame.first_roll : '0' %> </strong></td>
<% end %>
<% if frame.is_spare? %>
<td> <strong><%= '/'%> </strong> </td>
<% else %>
  <td><strong><%= frame.second_roll ? frame.second_roll : '0'%> </strong></td>
<% end %>
</tr>
</table>
Score: <strong><%= frame.score %></strong>
</td>
<div>
<% end %>
</tr>
</table>
<hr>
<br/> <br/> <br/>
